:root {
  --background: #f7f7f7;
  --lighter-pale-purple: #d7bdff;
  --pale-purple: #a168fc;
  --lt-purple: #6935eb;
  --med-purple: #4e28ae;
  --drk-purple: #351c75;
  --drk-gray: #181818;
  --red-timer-button: #e00000;
}

::-webkit-scrollbar {
  background-color: var(--background);
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  overscroll-behavior: none;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 70%;
  margin: auto;
  padding-bottom: 400px;
  justify-content: center;
  top: 0;
}

.main-container::-webkit-scrollbar {
  display: none;
}

header {
  background-color: var(--background);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 45px 65px 45px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  z-index: 1000;
}

.wrapper {
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
  margin: auto;
  display: block;
  /* text-align: center; */
}

.git-quizzy-heading {
  position: relative;
  font-size: 85px;
  background-color: var(--background);
  background-image: linear-gradient(var(--pale-purple), var(--pale-purple), var(--med-purple), var(--drk-purple));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#git {
  background-color: var(--background);
  background-image: linear-gradient(var(--lt-purple), var(--drk-purple));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

header a>p {
  font-size: 16px;
  font-weight: bold;
  color: var(--pale-purple);
}

header #timer-text {
  background-image: linear-gradient(var(--pale-purple), var(--drk-purple));
  min-width: 130px;
  height: 40px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--background);
  border-radius: 50px;
  letter-spacing: 1px;
}

main {
  max-width: 1200px;
  justify-content: center;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 125px;
}

main #slide-titles {
  font-size: 36px;
  color: var(--drk-purple);
  letter-spacing: 0.1px;
}

main p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 50px;
  color: var(--drk-gray);
}

li {
  list-style: none;
}

ul #start-quiz li {
  padding: 0;
}

#start-quiz-btn {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 15px 30px;
  font-size: 22px;
  cursor: pointer;
  background-color: var(--drk-purple);
  color: var(--background);
  border-radius: 8px;
  border: none;
}

#start-quiz-btn:hover {
  background-image: linear-gradient(var(--pale-purple), var(--drk-purple));
}

#quiz-titles {
  position: relative;
  font-size: 36px;
  color: var(--drk-purple);
  letter-spacing: 0.1px;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 15px;
}

#choice-buttons-one a {
  justify-content: left;
  text-align: left;
}

#choice-buttons-one li,
#choice-buttons-two li,
#choice-buttons-three li,
#choice-buttons-four li,
#choice-buttons-five li {
  width: 275px;
  padding: 15px 30px;
  margin-bottom: 25px;
  font-size: 22px;
  cursor: pointer;
  background-color: var(--drk-purple);
  color: var(--background);
  border-radius: 8px;
  border: none;
  text-align: left;
}

#choice-buttons-one li:hover,
#choice-buttons-two li:hover,
#choice-buttons-three li:hover,
#choice-buttons-four li:hover,
#choice-buttons-five li:hover {
  background-image: linear-gradient(var(--pale-purple), var(--drk-purple));
}

#your-final-score {
  text-align: left;
  margin: 0;
  align-items: center;
}

.enter-initials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#p-text-for-initials {
  margin-right: 0;
}

form input[type="text"] {
  width: 300px;
}

.para-initials {
  margin-right: 5px;
  display: inline;
}

#submit-initials {
  position: relative;
  top: 3px;
  margin-left: 7px;
}

#quiz-titles {
  text-align: left;
  margin: 0;
  align-items: center;
}

#high-score-and-initials {
  text-align: left;
  background-color: var(--lighter-pale-purple);
  padding: 5px 10px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 13px;
}

#btn-group {
  justify-content: left;
  text-align: left;
}

#submit-initials,
#go-back,
#clear-scores {
  background-color: var(--drk-purple);
  color: var(--background);
  border-radius: 3px;
  padding: 3px 8px;
  border: none;
}

#submit-initials:hover,
#go-back:hover,
#clear-scores:hover {
  background-image: linear-gradient(var(--pale-purple), var(--drk-purple));
  cursor: pointer;
}

#clear-scores {
  margin-left: 8px;
}


#section-one,
#section-two,
#section-three,
#section-four,
#section-five,
#section-six,
#section-seven {
  margin: 400px 25px;
}

#section-one,
#section-two,
#section-three,
#section-four,
#section-five {
  position: relative;
  padding-top: 300px;
  /* padding-bottom:200px */
  /* top: 300px; */
}

#section-six-space {
  width: 600px;
  height: 350px;
  background-color: var(--background);
}

#section-six {
  position: relative;
  align-content: center;
  margin-top: 800px;
}

#section-seven-space {
  width: 600px;
  height: 350px;
  background-color: var(--background);
}

#btn-group {
  margin-bottom: 400px;
}

@media (max-width: 690px) {
  .main-container {
    width: 690px;
    margin: 0;
    align-items: center;
  }

  header {
    width: 690px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 65px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 35px;
  }

  .git-quizzy-heading {
    font-size: 60px;
  }

  header #timer-text {
    min-width: 100px;
    height: 30px;
    padding: 8px 16px;
    font-size: 12px;
  }

  main {
    max-width: 690px;
  }

  #slide-content {
    width: 600px;
    margin: auto;
    justify-content: center;
    text-align: center;
  }

  main #slide-titles {
    font-size: 32px;
  }

  #quiz-titles {
    position: relative;
    font-size: 32px;
    color: var(--drk-purple);
    letter-spacing: 0.1px;
    text-align: left;
    line-height: 1.3;
    margin-bottom: 15px;
  }

}

@media (max-width: 500px) {

  .main-container {
    width: 500px;
    margin: 0;
    align-items: center;
  }

  header {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 65px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }

  .git-quizzy-heading {
    font-size: 52px;
    margin-left: 15px;
  }

  header a>p {
    font-size: 12px;
  }

  header #timer-text {
    position: relative;
    min-width: 98px;
    height: 25px;
    padding: 6px 15px;
    font-size: 11px;
    top: -25px;
  }

  main {
    max-width: 500px;
  }

  #slide-content {
    width: 430px;
    margin: auto;
    justify-content: center;
    text-align: center;
  }

  main #slide-titles {
    font-size: 32px;
  }

  .enter-initials {
    display: block;
    align-items: center;
    text-align: left;
  }

  #submit-initials {
    position: relative;
    top: 3px;
    margin-left: 0;
  }

  #high-score-and-initials {
    width: 300px;
  }
}