:root {
    --background: #f7f7f7;
    --pale-purple: #a168fc;
    --lt-purple: #6935eb;
    --med-purple: #4e28ae;
    --drk-purple: #351c75;
    --drk-gray: #181818;
    --red-timer-button: #e00000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  overscroll-behavior: none;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 70%;
  margin: auto;
  justify-content:center;
  top: 0;
}

header {
  width: 65%;
  background-color: var(--background);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 45px 65px 45px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: hsl(206, 17%, 28%);
  z-index: 1000;
}

.wrapper {
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 65%;
  margin: auto;
  display: block;
  /* text-align: center; */
}

.git-quizzy-heading {
  position: relative;
  font-size: 85px;
  background-color: var(--background);
  background-image: linear-gradient(var(--pale-purple), var(--pale-purple), var(--med-purple), var(--drk-purple));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#git {
  background-color: var(--background);
  background-image: linear-gradient(var(--lt-purple), var(--drk-purple));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

header a > p {
  font-size: 16px;
  font-weight: bold;
  color: var(--pale-purple);
}

header #timer-text {
  background-image: linear-gradient(var(--pale-purple), var(--drk-purple));
  min-width: 130px;
  height: 40px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--background);
  border-radius: 50px;
  letter-spacing: 1px;
}

main {
  max-width: 1200px;
  justify-content: center;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 125px;
}

main #slide-titles {
  font-size: 36px;
  color: var(--drk-purple);
  letter-spacing: 0.1px;
}

main p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 50px;
  color: var(--drk-gray);
}

li {
  list-style: none;
}

ul #start-quiz li {
  padding: 0;
}

#start-quiz-btn {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 15px 30px;
  font-size: 22px;
  cursor: pointer;
  background-color: var(--drk-purple);
  color: var(--background);
  border-radius: 8px;
  border: none;
}

#start-quiz-btn:hover {
  background-image: linear-gradient(var(--pale-purple), var(--drk-purple));
}

#section {
  margin: 100px 25px;
}

#quiz-titles {
  position: relative;
  font-size: 36px;
  color: var(--drk-purple);
  letter-spacing: 0.1px;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 20px;
}

#choice-buttons-one a {
  justify-content: left;
  text-align: left;
}

#choice-buttons-one li,
#choice-buttons-two li,
#choice-buttons-three li,
#choice-buttons-four li,
#choice-buttons-five li {
  width: 275px;
  padding: 15px 30px;
  margin-bottom: 25px;
  font-size: 22px;
  cursor: pointer;
  background-color: var(--drk-purple);
  color: var(--background);
  border-radius: 8px;
  border: none;
  text-align: left;
}

#choice-buttons-one li:hover,
#choice-buttons-two li:hover,
#choice-buttons-three li:hover,
#choice-buttons-four li:hover,
#choice-buttons-five li:hover {
  background-image: linear-gradient(var(--pale-purple), var(--drk-purple));
}

/* @media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}  */